.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store

### ./_targets

# {targets} cache
_targets/

### ./data

# Keep tentative documents off GitHub
data/test*

# Keep large data files off GitHub
# This assumes all large files are compressed with XZ
data/*xz

### ./analysis

# output from directly knitting Rmd file in analysis/
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs


### ./output

# Keep tentative documents off GitHub
output/test*

# Keep large data files off GitHub
# This assumes all large R objects are in QS format
*qs

